[2017-12-09 12:31] therealprof opened #5 "Baikal does not work anymore in latest containers"
PHP was obviously automatically upgraded to 7.2 in latest builds but Baikal is not compatible with that version anymore due to the use of deprecated functions.

Pinning the used php container to 7.0 for instance works until the Baikal project decides to address https://github.com/sabre-io/Baikal/issues/711 . I'd be happy to submit a PR for this but it's probably faster to simply add 3 characters t

[2018-03-03 19:24] Bajista58 commented on #5
Would you please explain what 3 characters I should add then please? I'm trying to set this up but facing issues due to php version

[2018-03-03 19:29] therealprof commented on #5
@Bajista58 Open the `Dockerfile` and change the beginning of the file to:
[code]

[2018-04-04 15:06] andreyp1986 opened #6 "Can't start container"
Trying to load latest container:
Digest: sha256:3a571f324835b9804fb8a234033dee3778b4b28a146f7b2b6a56fffac963446d
Status: Downloaded newer image for ckulka/baikal:latest

I get this message:
AH00558: apache2: Could not reliably determine the server's fully qualified domain name, using 172.17.0.3. Set the 'ServerName' directive globally to suppress this message
[Wed Apr 04 15:05:46.099473 2018] [ssl

[2018-04-18 20:17] ckulka commented on #6
Hi @andreyp1986 , sorry, had my notifications turned off.

Those are "only" warnings because `ServerName` is not set in the config, as this depends on your domain, e.g. https://dav.example.com.

For more details, see https://wiki.apache.org/httpd/CommonMisconfigurations#Not_setting_a_ServerName_in_a_virtual_host.

I'll see if I switch to Nginx or insert the server name dynamically based on an envi

[2018-04-18 21:11] ckulka commented on #5
@therealprof @Bajista58 only saw it now, sorry ... had notifications turned off.

Thanks for the suggested fix, I changed the base image to `php:7.0-apache` and it runs smooth again. So far only `latest` and `0.4.6` tags are fixed, older versions will be updated if anyone actually needs them.

[2018-04-18 21:11] #5 closed

[2018-04-18 21:55] ckulka commented on #6
As far as the other warnings go, that's due to the self-signed SSL certificates, unfortunately nothing I can fix (apart from removed HTTPS support).

I'll see if I can add an example for [Let's Encrypt](https://letsencrypt.org/) with [Traefik](https://traefik.io/), since that's what I'm doing on my server anyway.

[2018-04-18 21:58] ckulka commented on #6
39af7e8e3b634de29a5ba9bbf1e782a59452e4ff fixes the `ServerName` and `ServerAlias` warnings, I plan to release it with the next release of Baikal ... which hopefully is soon given their latest commit to fix sabre-io/Baikal#717.

[2018-05-27 03:54] Lindenk opened #7 "The user www-data runs the service rather than root"
It looks like a user named www-data user needs to interact with the persistent data directory which create permission issues if the folder is mounted to the host system.

[2018-05-27 16:17] ckulka commented on #7
Hi @Lindenk , this is intentional and somewhat of a best-practice.

The image is based on the [official php image](https://hub.docker.com/_/php/) and uses the default `www-data` user to serve requests.

I'd recommend changing ownership of your mounted directories with `sudo chown -R 33:33 <directory>`. The image's `www-data` user has the user and group id `33`, so I'd recommend using that as your

[2018-05-27 16:20] ckulka commented on #7
Closing the issue, hope this clarified it

[2018-05-27 16:20] #7 closed

[2018-05-27 23:58] Lindenk commented on #7
I would argue best practice is to have services inside containers run as root whenever possible. Having to modify the host system in specific ways to work with a docker container instead of keeping any and all requirements to run the service inside the container is against the docker philosophy.

My temporary solution was to exec a chown command on the directory mounted inside the container after

[2018-05-31 23:47] ckulka commented on #7
The non-root user is not a custom adjustment I made, but what the *offical* Docker image had in there already. I'd argue running processes inside containers as `root` is not best practice:

Regarding convenience and running Apache as a different user, please check the links from my earlier post, the official documentation explain the usage of `APACHE_RUN_USER` and `APACHE_RUN_GROUP`. The Apache do

[2018-06-03 22:19] Lindenk commented on #7
It seems using the nginx image automatically sets permissions. While the permissions on my host system seem to have also changed, it's good enough as it doesn't requires manual configuration or hacks to get working.

Setting APACHE_RUN_USER didn't seem to fix the issue with the apache container (IE the baikal process(s) were still running as www-data).

Either way, sorry for the rant. I'm just tir

[2018-06-03 22:50] ckulka commented on #7
The Nginx variant sets/updates them, pretty much because of this issue. I didn't do it for the Apache variant though to not break anyone's setup.

I agree on PHP though... https://twitter.com/iamdevloper/status/983963738213666816

Btw, given PHP and the maintenance situation of sabre-io/baikal with the main developer leaving (https://evertpot.com/sabredav-maintenance-update/), I'm actually conside

[2018-06-04 00:03] ckulka commented on #6
Now with the re-release of 0.4.6 for multi-arch (amd64 and arm32v7) to support Raspberry Pi, etc., the fix is now also available. I've also added more docs to make the transition to Traefik/Nginx easier, since it's (imho) the better solution.

I'll close the issue, but feel free to continue to add to this issue or open a new one as new details come up.

/closed

[2018-06-04 00:04] #6 closed

[2018-08-24 07:44] BenjaminHae opened #9 "Run as non-root"
It is good practice to explicitly define a user to run the container as on start, for example like this:
`docker run -e USER_ID=997 -e GROUP_ID=997 ckulka/baikal:nginx`
This leads to conflicts because of php-fpm can't access /run/php and `chown -R nginx:nginx /var/www/baikal/Specific` needs root permissions.

Do you see a way to follow good practice with your image?

[2018-08-27 11:11] languitar commented on #9
I think all content in the container drops privileges automatically. nginx and php workers use uid 101

[2018-08-28 00:14] ckulka commented on #9
Hi @BenjaminHae ,

I could only find using a non-root user in the official [Best practices for writing Dockerfiles](https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#user) article, which the `nginx` image variant already does since it's based on the [official nginx image](https://hub.docker.com/_/nginx/) (user `nginx` inside the container, UID 101, GID 101, as @languitar sa

[2018-08-28 00:14] ckulka commented on #9
Hi @BenjaminHae ,

I could only find using a non-root user in the official [Best practices for writing Dockerfiles](https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#user) article, which the `nginx` image variant already does since it's based on the [official nginx image](https://hub.docker.com/_/nginx/) (user `nginx` inside the container, UID 101, GID 101, as @languitar sa

[2018-08-30 19:19] BenjaminHae commented on #9
Hi @ckulka,

I think the best reference is the [CIS Benchmark for Docker](https://www.cisecurity.org/benchmark/docker).
You can find it in section 4.1 "Ensure a user for the container has been created".

[2018-09-19 12:55] BobWs opened #10 "How to setup this docker image with MariaDB5 MySQL on Synology?"
Do you have a tutorial how to setup baikal docker with MariaDB 5 on Synology docker?
I'm getting this error:
 Validation error
Baïkal was not able to establish a connexion to the MySQL database as configured.
MySQL says: could not find driver

[2018-09-20 22:03] ckulka commented on #10
Thanks @BobWs, I'm able to replicate this issue... shouldn't be much of an issue though, looking into it.

[2018-09-20 22:21] ckulka commented on #10
Reopening to verify this solves the issue, will close when it's available as non-experimental image variant

[2018-09-21 07:06] BobWs commented on #10
So which image should I use to test baikal with MySQL? I’m on docker synology.

[2018-09-21 07:13] BobWs opened #11 "How to link own domain ssl with the container?"
Can you please point me in de right direction, I have installed you image on a synology nas docker variant. I configured a reverse proxy for my domain on the nas. This is working when using the browser to browse to the admin page. But when trying to at caldav to iOS/macOS calendar I get a warning that the ssl cert is self sign and not my own SSL.

How can I link my own ssl cert to the container?

[2018-09-21 10:08] BobWs commented on #10
I see you have only altered the nginx inmage, right? I am using the Apache version
Is it possible to also at support for Apache

[2018-09-21 14:05] BobWs commented on #10
I've tested experimental, experimental-nginx, experimental-apache non is working with MySQL

[2018-09-21 18:46] ckulka commented on #10
I ran into an issue building the multi-arch images, `experimental-nginx-amd64` should work. I'll see to build the multi arch and arm variant over the weekend.

[2018-09-23 06:10] ckulka commented on #10
Hi @BobWs , just finished the ARM build for nginx and updated the multi-arch tag `experimental-nginx` - could you please give it a try? I'll look into the missing package(s) for the Apache variant next.

[2018-09-23 15:14] BobWs commented on #10
So I've tested the multi arch `experimental-nginx` but it isn't working. Getting the "Validation error
Baïkal was not able to establish a connexion to the MySQL database as configured.
MySQL says: could not find driver "

After that to verify if my setup was good I downloaded `experimental-nginx-amd64` and tested it with mariadb 5 and no error and I could setup accounts and the database was workin

[2018-09-23 17:55] ckulka commented on #10
Sorry, had a typo in my build script... `experimental-nginx` should now work, just tested it and it works with both MariaDB 5 and 10 (same dependency that needed to be installed). I'll look into Apache next.

[2018-09-23 18:18] ckulka commented on #10
So, this was easier than expected. Can you please give `experimental-nginx` and `experimental-apache` a try?

[2018-09-23 18:38] BobWs commented on #10
I will give them a try

[2018-09-23 19:30] BobWs commented on #10
So I have tested both images `experimental-nginx` and `experimental-apache` and they both work with mariadb. Didn't tested them with mariadb 10 but I sure it won't be  problem.

`experimental-nginx` was a bit of a problem connecting with my IOS/macOS Calendar `.well-known` wasn't working.

`experimental-apache` was working fine! Could login from both IOS and macOS Calendar. And the SSL didn't give

[2018-09-23 20:03] ckulka commented on #10
Can you share your `docker-compose.yml` (or anything else where you configure your container)? I think the easiest way would be to adjust the volume mount (effectively renames the file in the container).

[2018-09-23 20:07] ckulka commented on #11
Can you share your `docker-compose.yml`?

[2018-09-24 06:28] BobWs commented on #10
Okay, so I just tried again to upload some screen-shot of my Synology docker GUI setup but I keep getting an error that the upload didn't succeed.

So I have write down my steps in the docker GUI to setup the Baikal container with Mariadb. I hope you understand it :-)

### **Setup Mariadb 5 or 10**

**Create folder in Volume1/docker**
`docker/mariadb/databases`

`container_name: mariadb`

**Mount

[2018-09-28 14:15] BobWs commented on #10
Hi, when do you expect to update the non-experimental image variants with mariadb support?
I've been testing the experimental-apache version the past week and is working great, didn't see any bugs so far.

[2018-10-14 22:08] ckulka commented on #10
Sorry took so long, I'll see to merge it today/tomorrow.

[2018-10-14 22:18] ckulka commented on #10
Hi @BobWs, regarding the certificates, in addition to mounting folders, can you also mount files?

With regular `docker-compose.yml` files and `docker run`, it's possible to mount a file into the container under a different name, basically renaming it inside the container.

Based on https://github.com/ckulka/baikal-docker/blob/master/examples/docker-compose.apache.yaml#L15, it should look somethin

[2018-10-16 00:32] ckulka commented on #11
Hi @BobWs, copying this over from #10 , given this is the more appropriate issue. Regarding the certificates, in addition to mounting folders, can you also mount files?

With regular docker-compose.yml files and docker run, it's possible to mount a file into the container under a different name, basically renaming it inside the container.

Based on https://github.com/ckulka/baikal-docker/blob/mast

[2018-10-16 00:33] ckulka commented on #10
Finally got to update the `0.4.6` tags - if things run as expected on your end, I'll close this issue.

[2018-10-20 14:29] BobWs commented on #10
no worries, I will give it a try and let you know.

[2018-10-22 10:21] BobWs commented on #10
The Apache 0.4.6 is working with mariadb without any problems. I've have tested this version and everything is working fine for me. This issue can be closed. Thanks!

[2018-10-22 10:27] BobWs commented on #11
It worked I could mount the SSL files in Synology docker.

[2018-10-28 18:02] ckulka commented on #10
Good to hear, have fun

/close

[2018-10-28 18:02] #10 closed

[2018-10-28 18:03] ckulka commented on #11
Very good, glad it worked out

/close

[2018-10-28 18:03] #11 closed

[2018-10-30 08:45] kuerbis42 opened #12 "QNAP Containerstation: SIGWINCH kills Apache"
When trying this docker with an QNAP NAS (Containerstation), it will work.
But due to the fact, that **apache shut down when receiving a SIGWINCH signal** (made by design of apache if apache runs in foreground) it would be better to let apache run in background.
Each time you look to your container status, the "tty windows is changed" with the effect, that "pache gracefully shutdown" :-(

[2019-03-11 14:29] BobWs opened #13 "Could you implement infcloud with your docker image"
Could you implement https://www.inf-it.com/open-source/clients/infcloud/ with your baikal image.
I've found this image: https://hub.docker.com/r/plaguedr/baikal/ but it isn't working for me. The calendar kept giving me an error.

It would be nice If you could do this with your image as it is a very stable container.

[2019-03-14 10:26] jodumont commented on #9
@BenjaminHae being able to change to UID and GID is interesting but,
it's not because this container don't permit this manipulation
than it means the service(s) inside the container run as root.

As you could notice at the [line 33](https://github.com/ckulka/baikal-docker/blob/master/Dockerfile.nginx-amd64#L33) nginx is the owner of `/var/www/baikal`

If you so concern about the security you shoul

[2019-03-14 11:37] jodumont commented on #10
@ckulka
mysql also works with nginx experimental
I'm not using a synology
but I had the same `MySQL says: could not find driver` error
with both latest apache and nginx

[2019-03-19 00:47] ckulka commented on #13
I'll look into it... although I'd currently go for a separate "infocloud" image and add examples on how to make them work together. Can you let me know what set up you're planning, i.e. the cross-domain or same-origin scenario?

[2019-03-19 00:53] ckulka commented on #12
Hi @kuerbis42 , I for some reason missed this... surely because of million of other PRs and issues in this repo.

I don't have a QNAP NAS so it's hard for me to reproduce, do you know which command is used to retrieve the container status?
I've found a few similar issues in httpd and php repos, so I'd like to see if the resolutions are similar or if there's something we can do with this image.

[2019-03-22 15:33] BobWs commented on #13
A separate “infcloud” sounds good to me. If you could add examples how to make them work together would be great! I guess my setup would prefer same-origin scenario.
Thanks!

[2019-04-03 14:11] DOFfactory commented on #13
+1 I am planning to implement/begging for a baikal+infcloud setup, cross-domain (but on the same hardware), as with a 2-separate docker images unfortunately `infcloud` sees `baikal` as cross-domain (and hardest to set up).

[2019-04-18 12:18] kuerbis42 commented on #12
Hi @ckulka, I missed this, too ;-)
If you want, I would set it up again, but know I ran baikal on my "big" apache2 server - there it works fine.
Greeting, kuerbis42

[2019-04-28 17:05] BobWs opened #14 "Can you update baikal image to 0.5.2"
Baikal is maintained again can you please update you baikal-image to the latest version?
https://github.com/sabre-io/Baikal/releases

Thanks

[2019-05-01 10:23] BobWs opened #15 "Bug in the apache tag"
there is still a bug in the `apache:apache` and `apache:latest` tags. The driver problem when using mariadb. The only `apache` version which is working at the moment is `0.4.6-apache`

[2019-05-29 20:07] andyvk85 opened #16 "Accessing cal.php leads to: Error: Class 'DOMDocument' not found"
Hi ckulka,

I try to use the stable release 0.4.6 but I face a problem when I want to access "http://127.0.0.1/cal.php/calendars/testuser/default".

**The following error occurs:**
Error: Class 'DOMDocument' not found in /var/www/baikal/vendor/sabre/dav/lib/DAV/Server.php:256
Stack trace:
#0 /var/www/baikal/Core/Frameworks/Baikal/Core/Server.php(123): Sabre\DAV\Server->exec()
#1 /var/www/baikal/ht

[2019-08-25 11:35] #14 closed

[2019-08-25 11:40] ckulka commented on #14
Hi @BobWs,
sorry for the delay -  I've upgraded to Baikal 0.5.2 and will upgrade to 0.5.3 in a moment - the builds on Docker Hub take a while though (10 minutes per image, each new release version are 12-18 images), so it might take a couple of hours before they are available.

[2019-08-25 12:08] ckulka commented on #15
Hi @BobWs ,

once the new `ckulka/baikal:apache` and `ckulka/baikal:latest` images are build (in about 4h), the mariadb issues should be resolved. I've just tested it locally here and the driver issues are gone.

This probably came from outdated references in the multi-arch manifests, an issue that's now finally resolved by completely automating the build process on Docker Hub for all architecture

[2019-08-25 12:12] ckulka commented on #9
Given a separate user exists and nginx runs as that non-root user (user is `nginx`, UID is 101, GID is 101), I'll close this for now.

If there's a need for a dynamic user id, i.e. a configurable UID and GID of the user that runs nginx, let's open an issue with that enhancement request... especially since this will require some custom code to dynamically create the user, update the configuration a

[2019-08-25 12:12] #9 closed

[2019-08-25 12:54] ckulka commented on #14
Ok... turns out PHP 7.3 has a breaking change from PHP 7.2 (found out as I was testing #16).

Long story short, images for 0.5.1, 0.5.2 and 0.5.3 are rebuilding and it'll take a few hours again.

[2019-08-25 12:56] ckulka commented on #16
Hi @andyvk85 ,

sorry for the delay - seems like the image was missing the XML extension, which the newer images (building right now) have.

They're available in a few of hours once Docker Hub is done building them (see #14), then it should work.

[2019-08-25 16:48] ckulka commented on #13
Hi all,

sorry this took so long - there are good and bad news.

The good news is that an image with InfCloud 0.13.1 exists, including an example with Baikal.

- Supported architectures `amd64`, `arm32v7` and `arm64v8`
- GitHub: [ckulka/infcloud-docker](https://github.com/ckulka/infcloud-docker)
- Docker Hub: [ckulka/infcloud](https://hub.docker.com/r/ckulka/infcloud)
- Examples: [ckulka/infcloud-

[2019-08-25 17:52] ckulka commented on #12
Sorry for the delay - looking at docker-library/httpd#9, there's no good way to address it in the image, but to change how the container is run, i.e. running the container with the daemon flag `-d`.

I've checked if customising the start script or [apache2-foreground](https://github.com/docker-library/php/blob/master/apache2-foreground) could help, e.g. running it in the background and tailing the

[2019-08-31 08:43] BobWs commented on #15
Hi thanks for the update

[2019-08-31 08:44] BobWs commented on #14
Hi thanks for the update. I will give it a test-spin and report any issues

[2019-08-31 09:00] BobWs commented on #13
Have you already taken a look at this repo https://github.com/bjuretko/docker-baikal-infcloud
I have tested it but didn’t like the way how the setup works and it wasn’t conform my present setup. But maybe you can use something for your images

[2019-08-31 09:46] BobWs commented on #13
Did you try to set DIGEST to BASIC? As described here https://thomastaucher.at/pages/infcloud-in-conjunction-with-baikal/

[2019-08-31 15:37] ckulka commented on #13
Thanks for the hint - this might have solved it, my local tests here worked, but I don't have a full setup where I could do further testing.

Can you give it a try? I've added an example Docker Compose file and config.js file to the repository which worked in my test runs.

[2019-09-01 07:05] BobWs commented on #13
Sure I can give it a try, but I have a few questions first before messing up my setup. At the moment I have the following setup: baikal 0.4.6 on Apache with mariadb 10.* will this work with infcloud nginx? And also do I need to install the php docker image as well as you described in your comment?

[2019-09-05 10:37] BobWs opened #18 "Bug in the latest images update"
Hi,

First of all thanks for your effort for updating the images to the latest baikal.

I tried to update my 0.4.6-apache baikal server to the latest version, but I think there is some kind of bug in the calendar section. After updating my baikal server to baikal:latest everything went okay, without an error. But when I logged in the Admin page I noticed that my Calendars disappeared only the cale

[2019-09-15 09:18] BobWs commented on #18
So after further research and testing I found out with some help of the developers over at https://github.com/sabre-io/Baikal that the problems was with restoring the database mysqldump. Turns out that you cannot restore a backuped mysqldump version 0.4.6 to a 0.5.1 and above. This is because of a table change in the calendars tables

In the meantime, I have successfully upgraded my baikal server

[2019-09-15 09:18] #18 closed

[2019-10-24 04:16] naman-dixit opened #19 ""DAV: calendar-access" and "DAV: addressbook" not sent"
As I reported [here](https://github.com/sabre-io/Baikal/issues/838) and [here](https://forums.bitfire.at/topic/2148/baikal-doesn-t-provide-required-carddav-service/7), the `baikal:nginx` image seems to have troubles with responding to OPTIONS requests from DAVx5.

[2019-11-06 23:29] ckulka commented on #19
Hi @naman-dixit ,

sorry for the delay - this looks like an unintended side-effect of #13 where Nginx received additional CORS behavior: all `OPTIONS` requests return no content instead of being being passed to Baikal (I simply copied that part from https://enable-cors.org/server_nginx.html).

https://github.com/ckulka/baikal-docker/blob/bcb92d8b0fde7a07154d53b75560a63a0846d852/files/nginx.conf#L2

[2019-11-16 02:29] barskern commented on #19
I just wanted to add that I had the same problem. I will try out the experimental version as mentionned.

[2019-11-25 14:08] BobWs opened #20 "Update to Baikal 0.6.1"
Hi,
Do you have plans to update the images to the latest baikal release 0.6.1?
https://github.com/sabre-io/Baikal/releases

Looking forward to it

[2019-12-30 21:07] ckulka commented on #19
I'll close this together with #20, i.e. the release of version 0.6.1

[2019-12-30 21:08] ckulka commented on #16
Closing this issue as the images are all built

[2019-12-30 21:08] #16 closed

[2019-12-30 21:11] ckulka commented on #15
Closing this issue as the images have all been built and are available

[2019-12-30 21:11] #15 closed

[2019-12-31 16:07] ckulka commented on #20
Hi @BobWs, release 0.6.1 should now be available with the `0.6.1` tags (incl. the Apache and nginx variants)

/close

[2019-12-31 16:07] #20 closed

[2019-12-31 16:08] ckulka commented on #19
The configuration update has been published together with 0.6.1 from #20

[2019-12-31 16:08] #19 closed

[2020-01-07 08:13] BobWs commented on #20
Thanks! I Will give it a try

[2020-01-18 01:07] richy-notime commented on #19
It seems like the issue is still not fixed.
Setting up a docker container with:
[code]
Configurating the admin account, setting up a user account and some calendars and addressbooks.
But when i try to connect with DAVx5 using the pattern:
[code]
nothing is found. Different Clients although have no sync problems (kmail, Android: CardDAV-Sync free) .

[2020-06-04 19:55] n-rodriguez opened #22 "Update to Baikal 0.7.0"
Hi,

Do you have plans to update the images to the latest baikal release 0.7.0?
https://github.com/sabre-io/Baikal/releases

Looking forward to it

[2020-06-06 17:42] ckulka commented on #22
Hi @n-rodriguez,

I just pushed an update to Baikal 0.7.0 and PHP 7.4 to `ckulka/baikal:experimental`, `ckulka/baikal:experimental-apache` and `ckulka/baikal:experimental-nginx`.

Since I no longer run Baikal, could you please give it a run and see if it works for you?

If it does't, I'll create the `0.7.0` Docker images and push them to `latest` as well.

[2020-06-08 13:00] BobWs commented on #22
Did you by any chance installed the updated image? So is it working for you?
I would like to update mine as well to the latest, but I don't want to mess up the stable setup that is running now in a production environment.

Could you please share your experience?

[2020-06-08 22:36] ckulka commented on #22
Hi @BobWs,

I hope you meant @n-rodriguez - I unfortunately cannot test it myself because I don't have an instance that's currently up and running.

We _could_ set up a Google Hangouts/Slack/whatever to do it together on Thursday or next weekend though.

[2020-06-09 06:04] BobWs commented on #22
Yes sorry I was talking to @n-rodriguez.
But if you need someone to test the experimental image I could help. I have a VM docker were I’m able to do some testing.

[2020-06-09 10:51] n-rodriguez commented on #22
@ckulka it seems that the image upgrade has failed :

[code]

[2020-06-09 12:37] BobWs commented on #22
Did you specify and mount the config folder? That is new in 7.0

I have test `ckulka/baikal:experimental-apache` and it is working fine for me!

[2020-06-09 12:39] BobWs commented on #22
I can confirm that `ckulka/baikal:experimental-apache` is working for me.
If you push the official images I can give it another testrun!

[2020-06-09 15:47] n-rodriguez commented on #22
@BobWs

yes

[code]

[2020-06-09 15:47] n-rodriguez commented on #22
But I still don't understand why the version is wrong within the container :

[code]

[2020-06-10 05:42] BobWs commented on #22
@n-rodriguez Did you run the installer after updating your image?
After updating the container you need to login on the Baikal adminwebpage and finish the installation.

Also you need to specify the `config folder ` `--volume /volume1/docker/baikal/config:/var/www/baikal/config/ \ `

This is my setup maybe it could help you solve your problem!

[code]

[2020-06-11 01:08] ckulka commented on #22
Sorry, oversight on my part: the `nginx` builds failed and didn't notice it. I fixed the issue (and it also published it now on Docker Hub).

Can you please give it another try?

One potential issue are the file permissions of `/var/www/baikal/config` when mounted into the container. I might add a `chmod` on container start (same as the `Specific` folder) before releasing it as `latest`.

[2020-06-11 02:13] n-rodriguez commented on #22
It works! The migration went fine :) Thank you!

[2020-06-11 16:27] ckulka commented on #22
Thanks everyone for testing!

I've created the 0.7.0 tag and Docker Hub is now building it. It will take a few hours, my guess is around 3h.

[2020-06-12 00:15] n-rodriguez commented on #22
@ckulka thank you!

[2020-06-12 00:15] #22 closed

[2020-06-12 01:30] ckulka opened #23 "Alpine images"
Another popular thing is providing Alpine-based images. This ticket will track my progress to provide one for Nginx and possibly Apache.

[2020-07-05 10:10] BobWs opened #24 "Tag shows version 0.7.1. but image is missing from docker hub"
Hi,
Your Tags are showing you updated to version 0.7.1 but I cannot find the image in docker hub.
Are you still building the images?

[2020-07-06 16:22] stoi2000 opened #25 "sync problem with ios"
Hi
i have just installed baikal on raspberry pi and it works fine in browser, evolution mail on desktop and even under blackberry os10. thx for that! If i am trying to sync my baikal calendar with my iphone (ios 13.5.1) the sync will not be sucessfull. I have found some informations that ios is not properly working because there are some rewriting rules inside the webserver are missing.

thanks fo

[2020-07-06 21:57] ckulka commented on #24
Huh... might be embarrassing, I forgot to pushed to master for the `exeperimental` tag and then forgot to push the tag `0.7.1` tag from my laptop to Github.

That's also why it didn't show up on the Github releases page (https://github.com/ckulka/baikal-docker/releases) until now, yet has an age of 24 days. Anyway, pushed it now and it's building... should be there by tomorrow.

[2020-07-06 22:01] ckulka commented on #25
Hi there, can you link the articles you found? I'll have a look and can add those changes.

[2020-07-08 07:54] BobWs commented on #24
No problem! Could happen no worries m8! 😉

[2020-07-09 14:45] stoi2000 commented on #25
Hi ckulka
Thanks for your reply and sorry for my late answer. The article i have found is in german language and can be found under: https://www.cyon.ch/blog/CalDAV-CardDAV-Server-Baikal#Setup
I'll translate the important Information into ENG:
![baikal](https://user-images.githubusercontent.com/67918401/87054114-099a0280-c203-11ea-9d07-bbd50992b62c.png)
`for macOS, iOS and iPadOS Users
When the ac

[2020-07-09 21:01] ckulka commented on #25
Hi @stoi2000,

thanks, unfortunately I don't think that's it because it is already part of the Docker image (both apache and nginx):

https://github.com/ckulka/baikal-docker/blob/a8e7d1159250d61da6c532c72bc475921e991757/files/apache.conf#L9-L11

https://github.com/ckulka/baikal-docker/blob/a8e7d1159250d61da6c532c72bc475921e991757/files/nginx.conf#L10-L11

I used the configuration setup from the of

[2020-08-07 13:19] BobWs commented on #24
Thanks it works! Updated to 0.7.1

[2020-08-07 13:19] #24 closed

[2020-10-19 15:36] hhhhhliu opened #26 "A problem when using reverse proxy"
When I use reverse proxy to access the web page through https://my.domain:port/dav/, the "/dav/" makes the resource unable to load, i.e., it can only be accessed through "/". Which configuration file should I modify to solve this problem?

Another small question: Are there any measures such as login frequency restrictions to prevent brute-force cracking of admin's password?

[2020-10-19 20:25] ckulka commented on #26
Hi @hhhhhliu ,

while I haven't tested it, I guess you have two options (assuming you are on version 0.7.1):

1. Use the `base_uri` configuration option in `config/baikal.yaml`, e.g.
[code]
   Reference: https://github.com/sabre-io/Baikal/issues/943
2. Strip the path prefix with Nginx or Apache httpd

I'd go with option 1, but I don't know your setup and if that would really work better for you.

[2020-11-01 13:20] Schnuecks opened #27 "Please update to 0.7.2"

[2020-11-01 17:23] ckulka commented on #27
Hi @Schnuecks ,

just pushed an update for version 0.7.2 and Docker Hub is building it now. Should be there in maybe 6 hours, just takes a little  until all 12 images are published (roughly 30 minutes per image on Docker Hub).

Since I don't have a Baikal instance running anymore and can do only very limited testing, can you please let me know if the new image works for you?

[2020-11-01 17:56] Schnuecks commented on #27
Hi, thank you. I will test it and report back.

[2020-11-01 20:40] Schnuecks commented on #27
Hi, after update this error occours.
Composer detected issues in your platform: Your Composer dependencies require the following PHP extensions to be installed: curl

[2020-11-02 00:45] ckulka commented on #27
Hi @Schnuecks ,

thanks for testing so quickly - I added the missing dependency, it's building now again. Based on the last release, it'll take 3h until all images are published.

When did you get the error? Unfortunately I didn't see that when I started the container with the new version, but want to make it doesn't happen in the other image variant (not sure if you use Apache httpd or Nginx).

[2020-11-02 06:04] Schnuecks commented on #27
Hi, i got the error when i visit the page directly after update with the nginx version.
But now it seems to work, the update wizard starts and upgrade the db to 0.7.2.
At the moment it seems to work so far. If anything happens i report back.
thanks again.

[2020-11-02 06:04] #27 closed

[2020-11-05 15:05] SamuelBlickle opened #28 "Traefik unable to obtain ACME certificate for domains "traefik.baikal.""
Hi,

when I try to start up the containers for baikal and traefik, docker-compose throws the following error message:
`traefik_1  | time="2020-11-05T14:50:06Z" level=error msg="Unable to obtain ACME certificate for domains \"traefik.baikal.\" detected thanks to rule \"Host:traefik.baikal.\" : cannot obtain certificates: acme: Error 400 - urn:ietf:params:acme:error:rejectedIdentifier - Error creati

[2020-11-06 00:09] ckulka commented on #28
Hi @SamuelBlickle ,

this fails because the domain name is not valid for ACME, i.e. the automated certificate generation, because it ends with a dot (you can also see this at the end of the error message).

To fix this, just remove the `.` from the `traefik.frontend.rule` and you will be fine.

But wait, there is more: **after removing the dor the error will be gone, but it will continue to fail.*

[2020-11-06 09:28] SamuelBlickle commented on #28
Hi @ckulka ,

thank you very much for your reply.
However this unfortunately doesn't answer my question, but I think that's my fault. I should have stated what's the weird point of my problem:

I have of course set up the `traefik.frontend.rule` to something like `baikal.mydomain.tld` (and configured the DNS settings accordingly), but docker-compose throws exactly the error message shown in my ini

[2020-11-07 06:25] 917huB opened #29 "exposed volume ownership"
Thanks for this great container, can I check something as I suspect this might be a bug but could also be user-error as I'm new to docker, bear with me please.

When I expose a single volume as part of my docker run by adding `-v /var/lib/baikal-data/data:/var/www/baikal/Specific \` the config folder isnt saved to the persistent storage so each time i start the container I have to go back through

[2020-11-07 17:39] ckulka commented on #29
Hi @917huB ,

thanks for writing - yes, this is a mistake in the example Docker Compose files!

I think the `config` folder was introduced in version 0.7.0 and I didn't update the examples. Thanks for letting me know, I'm not running Baikal myself anymore so I would not have noticed it.

[2020-11-07 19:05] 917huB commented on #29
Thanks for confirming, if you are able to provide a patch I'm happy to test/confirm functionality.
Also curious to hear what Cal/CardDAV system you are using post Baikal.
FYI, I'm also fighting with some CORS issues on CardDAV sync only due to the presence of the If-Match directive. I'll dig in deeper to try and understand why it only affects carddav syncing but I dont think It should be an issue

[2020-11-08 00:16] ckulka commented on #29
So I was only half right: the one example file I checked had a mistake (typo in the path), but I think your issue does not come from that.

Can you please try this here:

[code]

If this works, then it comes Baikal trying to create files & folders but the local file permissions didn't allow the Nginx user (101) to do so. I also found out that the `db` folder has to be created manually, as Baikal d

[2020-12-28 22:06] konfiot commented on #13
There's still a problem because NGINX is returning a 401 when the preflight OPTIONS request is sent by the browser without authentication, and therefore the browser doesn't even send a PROPFIND because the preflight failed

[2020-12-29 12:55] BobWs commented on #13
I still haven’t managed to get this to work with my Baikal (latest) version. This guy managed to make it work but his repo is outdated. https://github.com/bjuretko/docker-baikal-infcloud

[2020-12-29 22:00] konfiot commented on #13
Yes but both baikal and infcloud are on the same domain so he doesn't have the cross-domain problem

[2021-01-05 15:26] ckulka commented on #13
Sorry, feeling bad for neglecting this - I'll have another run at this after I come back from vacation. I might have some progress on the weekend of Jan 16th.

[2021-01-06 13:07] BobWs commented on #13
No worries m8, don’t feel bad! You got to what you got to do and only if you have enough spare time for this then you can work on it. We do understand that developers also have a life beside programming 😉.
When you have time we shall see what you have for us.

Thanks for all your hard work and keeping the Baikal image up to date.

[2021-01-12 20:15] Drudoo commented on #29
@ckulka this worked for me.

I upgraded to 0.7.2 from 0.6.x by adding:

    volumes:
      - ./config:/var/www/baikal/config

to my docker-compose file. Then running `chown -R 101:101 config data` before using `docker-compose up`. Migration worked and permissions were set correctly.

[2021-01-20 23:30] ckulka commented on #13
Ok, I think I now know why all this happens:

* DAV clients use OPTIONS requests as part of the protocol and expect an answer from Baikal
* Browsers use OPTIONS requests for [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) and expect a typical CORS response

Only returning the typical CORS response doesn't work, it results in #19. Only returning Baikal responses doesn't work, it resu

[2021-01-23 09:57] theniwo commented on #13
That works for me. No issues so far. Thank you.

[2021-01-24 18:22] ckulka commented on #13
Thanks for testing @theniwo ! I moved the CORS configuration from this repository over to ckulka/infcloud-docker.

Reason for removing it from here is because Baikal doesn't require or need CORS by itself and I want to remove complexity as much as possible to avoid issues like #19.

The example on how to use Baikal + InfCloud can be found here at [ckulka/infcloud-docker: examples/docker-compose.ba

[2021-01-24 18:22] #13 closed

[2021-02-09 09:52] BobWs commented on #23
Hi,
What's the status on this image? I'm interested in the Alpine-Apache version.
TIA

[2021-02-09 09:58] BobWs opened #30 "[Question] Is this a typo?"
Hi,
I've updated my docker container to the latest image, but I have noticed this in portainer. Is this a typo?
When login to Baikal Web Admin it shows the latest version 8.0 so my container is updated just fine.

![Screen_Shot](https://user-images.githubusercontent.com/5485820/107346978-a092aa00-6ac5-11eb-9b9c-e287a4d793db.png)

[2021-02-13 21:52] ckulka commented on #30
Hey there, just checked the image tags, but they all show version 0.8.0.

I'm wondering where this comes from... can you run `docker inspect <image>` on the machine where the container runs and show the output?

[2021-02-15 16:29] BobWs commented on #30
This is part of the output:

[code]

![FFF2D8E8-042C-4380-854D-B6B3D762D36C](https://user-images.githubusercontent.com/5485820/107971263-8cade300-6fb2-11eb-8f5c-40ef81c5c4ab.jpeg)

[2021-02-16 11:08] BobWs commented on #30
Turns out that it isn't a typo or bug on your side! The problem is with Portainer, when I use Portainer to update a container then the information like labels is not updated properly. The container itself does get updated.

So I think it is a bug from portainer.

![Screen_Shot](https://user-images.githubusercontent.com/5485820/108054939-9a657600-704f-11eb-9d41-18ccdb8520c6.png)

[2021-02-16 11:08] #30 closed

[2021-03-02 17:04] philippneugebauer opened #31 "Email Invitations"
Have you thought about solutions for enabling email invitations?

When I try that, I get the following error:
[code]

[2021-03-03 19:17] ckulka commented on #31
I figure installing sendmail is all that's needed (https://stackoverflow.com/questions/38299776/usr-sbin-sendmail-not-found/38299891). I'll post an update when I updated the Dockerfile, would you be able to test it then?

[2021-03-03 19:21] philippneugebauer commented on #31
yeah, for sure. I tried it and got stuck with the postfix installation :(

[2021-03-03 19:31] ckulka commented on #31
Ok, it's building now - based on previous Docker Hub builds, that'll take about 1.5h. Can you then please give it a try with one of the following (well, ideally both if you can) images?

* `ckulka/baikal:experimental-apache`
* `ckulka/baikal:experimental-nginx`

[2021-03-05 19:52] philippneugebauer commented on #31
Yeah, I found that SO answer, too. I am still not sure, if that's the right thing to do since that means to really host such an smtp server which comes with quite some effort. I think it would be nicer to be able to include a service or at least having it configured outside the baikal container?

[2021-03-05 20:07] philippneugebauer commented on #31
that description might be interesting for the setup: https://mchodled.com/posts/2020/Apr/03/de-google-your-calendar-with-baikal/#configure-email-invitation-plugin

[2021-03-06 10:26] philippneugebauer commented on #31
I will provide a PR with my changes soon. It's working but I struggle to set the values in `/etc/msmtprc` with ENVs

[2021-03-14 09:19] BobWs commented on #25
I have also experienced sync problems. I am using Baikal behind a reverse proxy and found out that if you redirect to port 80 then `.well-known` does not work, but if I redirect to port 443 then `.well-known` works. And this without changing the `.htacces` File.

![F90EC85D-CB81-4A0E-A308-33E34EFA01B5](https://user-images.githubusercontent.com/5485820/111063395-837b3d80-84ae-11eb-83b9-e7fbdfa47d80

[2021-03-18 21:24] ahgraber commented on #31
@philippneugebauer I'm working on this myself.

Using the solution from the mchodled.com link, I think it's possible to mount the files as volumes, so the end user should just have an `msmtprc` or `msmtp_php` locally with their config, and it is mounted in the docker-compose:

[code]

The real trick is to update the `sendmail_path` directly, and I think you'd have to rely on some bash scripting in

[2021-03-18 21:32] philippneugebauer commented on #31
have you had look at my PR? @ahgraber

[2021-03-18 22:55] ahgraber commented on #31
Apologies, was moving fast trying to solve the same problem and just saw the comment about struggling to set values -- didn't see the PR link.  Wasn't trying to be pedantic, just wanted to help :)

Your solution is specific to the :apache version?

[2021-03-18 22:56] philippneugebauer commented on #31
I did not mean it like that, I rather wanted to point out the PR to get some feedback from you

[2021-03-20 00:14] ahgraber commented on #31
I'll follow up with comments on the PR itself.

[2021-03-24 12:21] Lithimlin opened #33 "TLS using Caddy"
Hey, I'm currently trying to figure out if it's possible to use [Caddy](https://caddyserver.com/) as a reverse proxy and to handle the secure connection and certificate from Let's Encrypt.

I already have Caddy running as part of a different project and find it a bit easier to use than Nginx, especially in regards to automatic certificates. I haven't worked with Traefik yet but could, of course, j

[2021-03-24 14:12] Lithimlin commented on #33
I've found the fault in my logic. Nevertheless, here's my Caddyfile and docker-compose for those interested:

Caddyfile:
[code]

docker-compose:
[code]

However, I'm still getting an "Insufficient permissions on the configuration folders" error. Baikal seems to be missing write permissions to the `/Specific` und `/config` folders.

[2021-03-29 21:42] jeremielebot opened #34 "Permission denied to create directory Collection.php"
I've installed Baikal Nginx on my docker instance.

It runs alongside a Nginx Proxy Managear container. It forwards http to port baikals port 80.

I've tried synchronizing Joplin and Thunderbird. I get more or less the same error : "PHP message: Sabre\DAV\Exception\Forbidden: Permission denied to create directory in /var/www/baikal/vendor/sabre/dav/lib/DAV/Collection.php:104"

Why is it trying to

[2021-03-31 20:09] ckulka commented on #34
Hi @jeremielebot ,

not sure if that's a file permission issue inside the container or something else. Even weirder is that this method _always_ throws an exception (<https://github.com/sabre-io/dav/blob/master/lib/DAV/Collection.php#L104>).

Does this come when you start the container, or does it start fine and only throws the exception why trying to synchronize with Thunderbird/Joplin?

If the f

[2021-03-31 21:00] #34 closed

[2021-04-03 09:55] iXware71 opened #35 "SSL-config is not secure enough"
The apache ssl config is not secure enough. The ssl test at https://ssllabs.com/ssltest only gives an overall rating of "B".

Please check  https://bettercrypto.org/#_apache  for better apache configuration.

The "header" parameters are not necessary for a better rating, but the parameters SSLProtocol and SSLCipherSuite are important.

Add this in /etc/apache2/sites-available/000-default.conf befo

[2021-04-05 01:56] ckulka commented on #35
Hi @iXware71 , I'll add it to Apache (and also checl the nginx settings) in the next release, thanks!

[2021-05-13 19:55] smaktacular opened #37 "405 when trying to access call dav w/IOS14"
When trying to setup caldav sync on IOS 14.5.1 I get the following log output:

192.168.208.9 - - [13/May/2021:19:49:50 +0000] "PROPFIND /.well-known/caldav HTTP/1.1" 302 145 "-" "iOS/14.5.1 (18E212) dataaccessd/1.0" "192.168.1.117"

192.168.208.9 - - [13/May/2021:19:49:50 +0000] "PROPFIND / HTTP/1.1" 405 157 "-" "iOS/14.5.1 (18E212) dataaccessd/1.0" "192.168.1.117"

192.168.208.9 - - [13/May/2021

[2021-05-14 01:12] ckulka commented on #37
Sounds suspiciously like this one here: <https://github.com/sabre-io/Baikal/issues/1030>

Can you give it a try and see if that resolves it?

[2021-05-14 05:02] smaktacular commented on #37
Actually I had to add the following to the container config of traefik:

[code]

I'm not 100% sure why this needs to be on rev proxy side instead of nginx, but anyways ...

[2021-05-14 21:35] ckulka commented on #37
Hi @smaktacular ,

I don't have an iPhone, could you please try to use (e.g. mount) a modified Nginx file works in iOS and the other devices/apps you are using?

I'd be curious to know if adding a trailing slash `/` to line 10 and 11 in `/etc/nginx/conf.d/default.conf` resolves it (since that's the only difference in the Traefik configuration you posted):

[code]

Baikal's documentation doesn't ha

[2021-05-15 08:40] smaktacular commented on #37
@ckulka: Did the test and the only difference it made was that the uri entered in the ios setup dialog recieved the trailing slash as well. Still 405 without the modification to the traefik labels

[2021-05-16 10:38] smaktacular commented on #37
And, on top to see a difference in both configs, you one needs to setup the account from scratch, because once the account is setup properly you can remove the rev proxy directives and everything still works. But if you set the account up without the rev proxy directives it will not work, even with the trailing slah addition, suggested by @ckulka .

[2021-05-18 22:32] ckulka commented on #37
Thanks for your PR! I merged it and will close this issue as this is now fixed.

[2021-05-18 22:32] #37 closed

[2021-05-18 22:33] ckulka commented on #35
Closing this issue given this is fixed in `master` and will be part of the next release version of Baikal.

Thanks again @iXware71 to point it out 👍

[2021-05-18 22:33] #35 closed

[2021-05-18 22:39] ckulka commented on #25
Hi @stoi2000 ,

I'm guessing you solved this issue already somehow, but in case you haven't or someone else comes across this: check out #37, someone else had an issue with iOS when using Baikal with Traefik.

The fix is to add rewrite rules to Traefik (unsure why it's needed there too...) and the example has been updated:

https://github.com/ckulka/baikal-docker/blob/8cb1ae30b3374a050e029e84cd99d

[2021-05-18 22:40] ckulka commented on #29
Good to hear! I'll close this issue then 👍

[2021-05-18 22:40] #29 closed

[2021-06-11 09:37] Lithimlin opened #39 "Local folder for Specific data"
In my docker compose I'm trying to specify a local directory to mount into the container's `Specific` directory so I can backup it more easily. However, it does not work. Instead, docker creates a volume for me.

Here's my docker-compose:
[code]
Mounting the `config` directory works just fine.
Has anyone encountered a similar issue?

[2021-06-11 11:32] BobWs commented on #39
This works for me
[code]

[2021-06-11 12:06] Lithimlin commented on #39
With that I get the following error in the web interface:
[code]
Also can you explain why I have to name the directory I'm mounting `Specific` and can't just name it `data`?

[2021-06-11 12:09] Lithimlin commented on #39
Strangely enough, when trying to revert my changes, the `data` directory was correctly mounted into the container. However, there's still the issue with the permissions.

[2021-06-13 06:24] BobWs commented on #39
I guess the “name” shouldn’t matter. If you want to call it “data” I think that that would not be the problem.

The permissions for the folders `config` and `data/specific` Should be `33` for both `group and user` not `root or something else`

[2021-06-14 08:27] Lithimlin commented on #39
The "name" shouldn't matter but when I tried naming it `data`earlier, it didn't work and instead docker created a new volume.

I assume the permissions should be applied recursively to sub-directories as well? Should it be `033` or `330`? The (working) `config` folder currently has `755`.
I have already adjusted the `group and user` by setting the one for the `data` directory to the same as the `c

[2021-06-14 09:18] Lithimlin commented on #39
It's working now. When exporting the docker-internal volume I had forgotten to remove a subfolder which is why the server couldn't find the `db` file.

[2021-06-14 09:38] #39 closed

[2021-06-15 18:41] elspru opened #40 "IPv6"
How do I enable IPv6 support?
I'm trying with the nginx variant.
Thanks

[2021-06-15 19:03] elspru commented on #40
I forked it, added the required characters in the nginx.conf and tested it. works with IPV6 with the new addition now.
sent a pull request.

[2021-06-18 15:03] dansan opened #42 "On Ubuntu: Permission denied to create file (filename ....ics) in /var/www/baikal/vendor/sabre/dav/lib/DAV/Collection.php:92"
When the current Docker image `ckulka/baikal:nginx` ist started on Ubuntu 20.04 (focal) system, users accounts and calendars can be created, but no events can be written.
It seems to work without problems on Mac OS X.
I tried on a remote Ubuntu server `Ubuntu 20.04.2 LTS` and on my notebook running a Ubuntu derivative (`Linux Mint 20.1`).

On the Ubuntu server the Docker container is started with:

[2021-08-01 04:19] Joshndroid opened #43 "Unraid Installation Guide - Wiki creation for links?"
Hello.
I came across your program while initially searching for a lightweight caldav to replace nextcloud.

I have setup your Baikal docker to run within unraid and utilising a separate mysql database (not that the external database was necessary).
I utilise Unraid as my main server PC as many others do out there.
If you have not heard of Unraid before - https://unraid.net/
Unraid community apps -

[2021-08-02 21:54] ckulka commented on #43
Hi @Joshndroid, thanks for the guide! I looked into the wiki settings and unfortunately I can't seem to set up the permissions that way. Organisations might be able to do this, but this is a user account repo.

Instead, could you please submit a PR and add the guide to `docs/Unraid-Installation-Guide.md` (or something along those lines in the new `docs` folder)?

I can then publish it using Github

[2021-08-02 22:03] ckulka commented on #42
Hi @dansan, sorry for the late reply, I'm guessing this is already a non-issue by now or (worse) you moved on.

Regardless, trying my luck or for future reference: I interpret the error message

[code]

as nothing to do with the image or your OS, but rather that the client sends a different HTTP request. When connecting it to your MacOS container, the slash between `/dav.php` and `?sabreAction=plu

[2021-08-02 22:07] ckulka commented on #28
Hi @SamuelBlickle, hope you don't mind me closing it given it (strangely enough) works. I updated the examples to Traefik 2, which may help with the setup too.

[2021-08-02 22:07] #28 closed

[2021-08-03 05:53] dansan commented on #42
Hello @ckulka, the problem has been resolved. It was done during my absence, so I'm not sure if anything was done on the server. From what I understood, the problem was with the client using the wrong URL.
Sorry for not closing the issue sooner. The customer is very happy with Baikal :)

[2021-08-03 05:53] #42 closed

[2021-08-05 21:00] #43 closed

[2021-08-05 21:13] ckulka commented on #43
Merged and published: <https://ckulka.github.io/baikal-docker/docs/unraid-installation-guide.html>

Thanks again @Joshndroid !

[2021-08-22 20:25] Sloshy1 opened #45 "Exposing local directories for all directories within /var/www/baikal/"
As the title says, I've tried mapping ./www to /var/www and creaeting all the directories manually, and applying the same permissions that are in the example docker-compose.yml file to all the folders, but when I spin the container up it doesn't work.

The reason I need to do this is I need to edit the .htaaccess file (for remapping the default iPhone CardDAV value) within the html directory, but

[2021-08-22 23:00] ckulka commented on #45
Hi @Sloshy1, just to make sure I understand your scenario correctly: you only need to modify the `/var/www/baikal/html/.htaccess` file?

I would recommend mounting just that modified file into the container and not the entire `/var/www/baikal` folder, for example based on [examples/docker-compose.localvolumes.yaml](https://github.com/ckulka/baikal-docker/blob/8781617f179fb7b115a179d47f425c460996c8

[2021-08-24 17:24] Sloshy1 commented on #45
I hadn't even thought of that, good point! I would like to think I am well versed in how Docker works - However...

I did not know you could mount a single file! That is a much easier option, let me do that now.

[2021-08-24 18:26] Sloshy1 commented on #45
@ckulka OK so I've done the above and it has worked a treat. I am now however having issues with the rewriting for iOS 14. I've found several different links all suggesting different formats, such as:

[code]

[code]

[code]

[code]

And others that I can now not find.

I have also just stumbled across [this](https://github.com/sabre-io/Baikal/issues/744). Much like the OP, I've tried many of thos

[2021-08-24 22:43] ckulka commented on #45
I'm afraid I can't help you there, I don't have an iPhone - just one thing (and this is to some extend me misleading you): nginx doesn't use the `.htacess` file, I forgot to take that out when using the Docker Compose file example.

Can you please retry this with the Apache variant, e.g. just `image: ckulka/baikal`?

If that doesn't work either, I think your best bet now is to open an issue with i

[2021-09-11 11:07] hppyworld opened #46 "share a calendar"
How to share a calendar. where can i make configs?
Thanks for help

[2021-09-13 10:00] ckulka commented on #46
Hi @hppyworld ,

this looks like a question related to "How to use Baikal" rather than something specific to the Baikal Docker image itself, so I'd defer you to the Baikal site <https://sabre.io/baikal/> and their repository <https://github.com/sabre-io/Baikal>.

Is this correct, or did you mean something related to setting up the container, e.g. how to make it accessible from somewhere after you

[2021-09-14 06:07] hppyworld commented on #46
Actually How to share a calendar with docker image. Because as i see there are some extra things needs be configured as its not coming by default in web ui. This configuration needs to be done in image or container.
thanks for help.

[2021-09-24 02:48] sch3p commented on #25
Is there any current fixes for getting iOS operational without the use of Traefik? Currently have everything going through my own Nginx setup using [NPM](https://github.com/jc21/nginx-proxy-manager).

Attempted to add those rewrite rules manually, but the error I get when trying to sync remains the same: `Unable to connect to account` -- this is after signing into said account via Settings.

When

[2021-10-13 16:28] Dantyk opened #48 "do not close the php session"
I installed a docker with baikal on a raspberry pi. I used Baikal server as a rest api. When querying the baikal server, disk space began to decrease. After a more detailed examination, I found that the files from the session php remain in the docker container - directory:  /var/lib/docker/overlay2/3cd91b16159dc6baa381e6963f3f0e9fb5c45d69314afa5b592f8335579e04d3/merged/var/lib/php/sessions
I solve

[2021-10-17 06:47] shadowking001 opened #49 "vCard plugin export"
Hello !

In a first time let me thank you for this wonderful piece of software, I'm using your image for some years now and it's really effective.
Recently, I was thinking that doing a regular export of my vcf cards on my Androind smartphone was probably not the best way to backup my addressbook.
I fall upon this : https://sabre.io/dav/vcf-export-plugin/

Seems like Baikal got a feature to export

[2021-10-17 06:51] shadowking001 commented on #49
Okay forget it, I found the URL to use :

https://baikal.xxx.ovh/dav.php/addressbooks/lawrence/default?export

lawrence being my username, I had to login before.

Any idea on how a script could use credentials to login and automate the backup of my contacts on a regular basis ?

[2021-10-30 22:56] lennvilardi commented on #31
Is this problem closed ? Is there a tutorial to use email invites ?

[2021-11-06 13:19] philippneugebauer commented on #31
there is a possible option in https://github.com/ckulka/baikal-docker/pull/32

[2021-12-02 19:05] MrPinrel commented on #31
I recently installed this container (great work!) on my Synology NAS and would love to get the email invites working. How would I go about enabling this? Do I need to download the experimental nginx version? Or is it going to get included in the latest release soon?

Happy to be a tester but would need some help on how to get started. Also, I use a mail relay, not sure if this makes a difference?

[2021-12-02 22:53] philippneugebauer commented on #31
build the dockerfile from #32 on your own and use it

[2021-12-05 20:15] MrPinrel commented on #31
Thanks, I got it to build but it is complaining that msmtprc is not installed in the synology box. I found msmtprc and tried to install it, but it tells me that there is no suitable C compiler found to do that....now trying to figure out how to install that. Let me know if you have any ideas.

For a broader distribution it might be good to include those steps in the automated installation.

[2021-12-21 09:34] BobWs opened #51 "Is there a way to hide the WebAdmin page form access from the Internet?"
Is there any way to hide the webadmin page from acces from the internet?

I want the Admin page to be accessible only within my LAN. For the calendars, access from outside is allowed though.

Currently I have Baikal behind a Reverse Proxy, and I see no way to allow only the `caldav.mydoemein.com` access from the internet and not the Admin page.
I have already tried to add an htacces file in the ad

[2021-12-21 19:31] ckulka commented on #51
Hi @BobWs , which reverse proxy and which image variant (Nginx/Apache httpd) do you use?

[2021-12-22 11:48] BobWs commented on #51
Hi, I'm using the Apache variant

[2021-12-22 14:59] MrPinrel commented on #31
update, I'm not having any luck getting msmtprc to build in my synology box. I get errors about libraries missing and errors in the MAKE file. Does anybody know where I could find the already built images? It is a DS918+ with the Intel Celeron processor.

[2021-12-28 11:04] lennvilardi commented on #31
Seriously considering installing Nextcloud just to get email notification, it's too complicated to compile msmtp for a DS918+... is there another way (simplier?) ?

[2021-12-29 21:06] MrPinrel commented on #31
Lenn thanks for this note, it caused me to look into installing nextcloud to a caldav server with working invites running on DSM 7.0. I followed[ these instructions](https://mariushosting.com/how-to-install-nextcloud-on-your-synology-nas/) and it was really easy. First I tried to install in Docker but then I decided to do the native install.

[2022-01-02 20:49] ckulka commented on #51
Hey there, on vacation with basically no internet - your rule looks good and `.htaccess` files should be used as well - can you try the following three things?

1. Temporarily deny all access from anywhere - that should show you if the rule and `.htaccess` file is applied
2. Check the Apache logs for the source IP address
3. Which reverse proxy do you use?

If the deny rule works, then I'd think i

[2022-01-03 13:01] BobWs commented on #51
Thanks for replying back, no worries I hope you had a great vacation 😎
And first all the best wishes for the new year!

So I’m using nginx reverse-proxy in front of Baikal. Baikal is running on Docker on a Synology NAS, which has a built in reverse proxy based on nginx.

[2022-01-03 13:14] BobWs commented on #51
Tried this but didn’t work the Admin page is still accessible from the internet...

[2022-01-03 16:46] ckulka commented on #51
That's interesting, almost sounds like the `.htaccess` files isn't used at all, but that'd be _very_ surprising given Baikal uses those files themsevles (e.g. <https://github.com/sabre-io/Baikal/blob/master/html/.htaccess#L19>). Can you do a curl on `https://yourserver.de/.well-known/caldav` and see if it does a 308 redirect to `/dav.php`?

If so, then something isn't working with the `Require` di

[2022-01-04 12:38] BobWs commented on #51
When I do a `curl https://yourserver.de/.well-known/caldav` then I get this in terminal:
[code]
Baikal is working fine with the clients on iOS, MacOS and Android. So I guess the well-known is working.

Synology doesn't allow extra entries into the reverse proxy configuration file, all is done by GUI

This is how it looks like:
![Screen_Shot 2](https://user-images.githubusercontent.com/5485820/1480

[2022-01-07 15:28] BobWs commented on #51
I think I solved it!
I'm using [NPM](https://github.com/jc21/nginx-proxy-manager) as reverse proxy now and there it is possible to
add
[code]
So now when I go to the admin/page I'm getting a 403 Forbidden page
and `caldav.mydomain.com` in the ios and android clients just work fine.

[2022-01-07 15:28] #51 closed

[2022-01-09 13:02] tanrak opened #52 "Baikal Version 0.9.1"
Just for your information. There is a new version of Baikal. Could you also update your image? Many thanks!

[2022-01-09 17:53] vaskozl commented on #31
I've been a happy radicale user for a few years now, after initially migrating away a couple of years ago. The reason was wanting to be able to send calendar invites for personal events, e.g. holiday flights.

I've managed to use sendmail as included by the experimental images but that required a number of hacks:

* One obviously needs to the sendmail daemon.

* The first problem one might encount

[2022-01-09 20:15] ckulka commented on #52
Thanks, unfortunately my application to the Docker Open Source Program is still open (openend it about half a year ago), so I can't build and publish a new version right away. I'm currently working on migrating the build process over to Github Actions, I hope I have a solution for the multi-arch build soon.

[2022-01-12 00:08] ckulka commented on #52
So, good news: I figured out multi-arch builds with GitHub Actions, should be there tomorrow.

[2022-01-12 20:37] tanrak commented on #49
@shadowking001 you can use the wget command like this:
[code]
the same for calendar (for example default.ics)

[2022-01-12 21:07] ckulka commented on #52
I just pushed 0.9.1 as `ckulka/baikal:experimental` and `ckulka/baikal:experimental-nginx`.

I don't run Baikal myself anymore, can you please give them a try and see if they work?

If all goes well, I'll release them.

[2022-01-12 23:20] #40 closed

[2022-01-13 00:50] ckulka commented on #31
Thanks all, especially @philippneugebauer and @vaskozl. My proposal below is basically just a mix of #32 and https://github.com/ckulka/baikal-docker/issues/31#issuecomment-1008344665.

Would like to hear what you think of this:

1. The Docker image won't contain a mail server, it will rely on an external one (another container or a service like Gmail)

2. The container will use sendmail and not ms

[2022-01-13 08:25] Glareascum opened #53 "Container log file"
Is it possible to specify a custom log file location? I'd like to put baikal under the eye of fail2ban, so I need a log to scan and apply some rules to avoid brute force attacks.

[2022-01-13 18:13] ckulka commented on #53
Hi @Glareascum , do you use Nginx or Apache and can you use the container logs, or do you need the actual access log files?

Assuming fail2ban can not consume container logs out of the box, I can think of three solutions:

### Consume container JSON log files

The access log is printed to the container logs, are stored in `/var/lib/docker/containers/<container id>/<container id>-json.log` unless y

[2022-01-13 18:32] #53 closed, assigned to nobody

[2022-01-13 19:32] stephenmetzger opened #62 "Permissions Error on UnRAID Install"
Hi,

After installing Baikal following your provided instructions, when trying to load the WebUI I get:

     The FOLDER containing the DB file is not writable, and it has to.
     Please give write permissions on folder '/var/www/baikal/Specific/db'

I have the Specific folder mapped to my appdata directory, have run the UnRAID New Permissions tool, and (to test) have given 0777 permissions to th

[2022-01-13 19:54] ckulka commented on #62
Inside the container, can you please run `ls -la /var/www/baikal/Specific` and show the output?

[2022-01-13 20:09] stephenmetzger commented on #62
@ckulka, thanks for the quick response. Output is:

[code]

[2022-01-13 22:06] ckulka commented on #62
That looks all correct, can you please try the this command to see if the nginx user is able to write into that folder (just like the permissions suggest):

[code]

Stupid answer, but if that all works well it looks all fine, I'd just give it another try and delete the local folders, recreate `Specific` with open permissions and rerun Baikal... maybe it just hung up during the first start.

You _c

[2022-01-13 22:13] tanrak commented on #52
@ckulka Thanks for the update. After a few test everything seems to work without any problems.

May I ask what software you are using now?

[2022-01-13 22:30] stephenmetzger commented on #62
Thanks. All commands worked. Deleted the host folders (in appdata in UnRAID), and then removed Baikal from UnRAID. Reinstalled, and was able to get to the wizard (I may have been able to before as well... but I've been playing with a lot of calDAV/cardDAV and syncing services in UnRAID over the past few days... so may have forgotten that I had went through a setup wizard.
At the wizard, saw that t

[2022-01-13 22:45] ckulka commented on #62
Good to hear, I'll then close the issue 👍 Hope backups of MySQL are easy in your environment too, would be a shame to not have backups because of some odd file permission issues with sqlite.

[2022-01-13 22:45] #62 closed

[2022-01-14 00:01] ckulka commented on #52
Looks like everything published fine now and I can close the issue: 0.9.1 is available, thanks for testing it 🎉

Regarding me and Baikal, you'll be disappointed: I cycled through a lot of devices, laptops and servers a few years ago, running my own addressbook and calendar just consumed too much time. At the same time the announcement from the (then) maintainer came out that Baikal won't be mainta

[2022-01-14 11:21] mstilkerich commented on #52
Hi,

 thanks for providing this docker image which I use in my CI environment to test interoperability with baikal.

With version 0.9 of the docker images, you switched to PHP 8.1. PHP 8.1 deprecates passing null values to internal functions with non nullable parameters. sabre/vobject contained as part of Baikal 0.9 has issues with that. So I would suggest to publish the images for 0.9 with php 8.

[2022-01-14 11:34] ckulka commented on #52
Thanks @mstilkerich - btw, nice to see someone using a CI pipeline with Baikal, I always wanted to do something similar for the Baikal Docker image!

I'll open an incident over at [sabre-io/Baikal](https://github.com/sabre-io/Baikal) later today (unless you beat me to it of) because their release 0.9.0 (https://github.com/sabre-io/Baikal/releases) says it now supports PHP 8.1 😕

Do you know if thi

[2022-01-14 11:44] mstilkerich commented on #52
Hello,

  it happens when an addressbook search is done that includes a group filter. It is probably not a very common action, but nevertheless with PHP 8.0 everything works just fine.

[2022-01-14 11:49] mstilkerich commented on #52
Created a PR here: https://github.com/sabre-io/vobject/pull/561

[2022-01-15 11:31] Lithimlin commented on #52
Since the new version I'm regularly getting gateway timeouts when querying my calendars or any admin page:

[code]

Does anyone know something about this?

[2022-01-15 11:36] mstilkerich commented on #52
Since you are using php fpm, any errors in the fpm logs?

[2022-01-15 15:15] ckulka commented on #52
I published images with Baikal 0.9.1 and PHP 8.0, @mstilkerich and @Lithimlin can you please see if your issues were resolved by reverting to the older PHP version?

* `ckulka/baikal:experimental-apache-php8.0`
* `ckulka/baikal:experimental-nginx-php8.0`

[2022-01-15 17:31] mstilkerich commented on #52
Hi, thanks for providing this update! My test suite passes all tests! (I only tried the apache image, but I wouldn't think it makes a difference)

[2022-01-16 16:23] Lithimlin commented on #52
How I always get a timeout. Here are my logs:

[code]

[code]

And my docker-compose:
[code]

[2022-01-16 18:38] mstilkerich commented on #52
@ckulka I now tried the nginx image as well - it still contains php 8.1?! (and the corresponding tests fail as expected)

[2022-01-17 23:13] ckulka commented on #52
Indeed, my mistake: I built them locally for tests and didn't notice the Nginx PHP 8.0 GitHub Action used the wrong Dockerfile. Fixed that, `ckulka/baikal:experimental-nginx-php8.0` now runs PHP 8.0.

[2022-01-18 15:20] Lithimlin commented on #52
I still get the occasional timeout even with the new image.

docker logs:
[code]

The php log is still as helpful as before:
[code]

[2022-01-18 16:05] mstilkerich commented on #52
Hello, my test suite passes with the new image, I don’t see these timeout issues. Why are the timestamps in your logfiles jumping by decades for entries that should be logged directly in a row?!

[2022-01-19 10:34] Lithimlin commented on #52
I'm not sure. Something seems to be going significantly wrong but I can't figure out what it is. Could it be a problem with a timezone variable?

[2022-01-21 12:57] nillebor opened #69 "baikal docker for synology diskstation"
i have been using the baikal server for many years.
i use this on a diskstation with intel processor.
unfortunately, your docler package does not work, you receive the error message "Function not implemented: AH00141: Could not initialize random number generator"
could it be because the i386 (x86) is currently not supported?

could you offer the support, because I use several dockerfiles and the a

[2022-01-22 13:15] ckulka commented on #69
I'll try to add an image for the `386` platform and write when it's available as an experimental build - can you then give it a try?

[2022-01-22 13:47] ckulka commented on #69
Hi @nillebor , the version 0.9.1 images should now support the i386 platform - can you give them a try and see if your error goes away?

[2022-01-22 15:32] nillebor commented on #69
thx i will test it!
an extra image? or available in th  :lastest image?s' not an extra image? or available in th  :lastest image?
I see no x86 until now

I'll see tomorrow or the day after once again

[2022-01-22 16:38] ckulka commented on #69
For now you can use any of the experimental tags (<https://hub.docker.com/r/ckulka/baikal/tags?page=1&name=experimental>), e.g.

* `ckulka/baikal:experimental` or `ckulka/baikal:experimental-apache`
* `ckulka/baikal:experimental-nginx`

Once I know they are working I release them und `latest` etc.

[2022-01-22 18:12] nillebor commented on #69
I've tried the 3 containers. unfortunately, it is under the apache is not possible, the container is always terminated immediately with the error message:
`Function` not implemented: AH00141: Could not initialize random number generator". the error is also true for the files: experimental and experimental_apache!

the experimental nginx, it is already better. there contäiner starts. Website is rea

[2022-01-23 22:07] mstilkerich commented on #52
@ckulka From the Baikal issue linked above it appears these issues are also occurring in Baikal’s own code. And yes, apparently also affecting regular users.

[2022-01-24 09:51] Drudoo opened #70 "iOS example with Traefik doesn't work using YAML"
In the [example](https://github.com/ckulka/baikal-docker/blob/master/examples/docker-compose.ssl.yaml) for using Traefik on iOS, the regex replacement uses double dollar signs. This works when using labels in the compose file, but not when using a YAML configuration file for Traefik. In the compose file, the dollar sign needs to be escaped, but in the YAML file, this isn't the case.

Adding info t

[2022-01-25 00:38] ckulka commented on #52
Figured out how I will create new releases that replace existing Baikal-versions, all is prepared to release the PHP 8.0 variants.

Thanks @mstilkerich, good to see the tests pass, I plan to publish the new images tomorrow night/day after tomorrow unless I hear of issues (except for @Lithimlin).

Hi @Lithimlin, I'm still trying to think of a reason why your time inside the container is all over th

[2022-01-25 01:03] ckulka commented on #70
Good idea @Drudoo, I added it to the example.

[2022-01-25 01:03] #70 closed

[2022-01-26 10:11] Lithimlin commented on #52
The date seems to be messed up with the 0.9.1 release no matter the flavor of image:
[code]

[2022-01-26 22:38] ckulka commented on #52
I found someone with a very similar sounding issue at [Date is wrong in container (linuxserver.io)](https://discourse.linuxserver.io/t/date-is-wrong-in-container/2535) who points to this solution: <https://docs.linuxserver.io/faq#my-host-is-incompatible-with-images-based-on-ubuntu-focal>.

Can you give that a try?

[2022-01-26 23:05] ckulka commented on #52
Just FYI, I just re-published 0.9.1 including the new PHP 8.0 images as [0.9.1+php8.0](https://github.com/ckulka/baikal-docker/releases/tag/0.9.1%2Bphp8.0).

The new PHP 8.0-based images are:

* `0.9.1-php8.0`, `0.9.1-apache-php8.0`, `apache-php8.0`, `latest-php8.0`
* `0.9.1-nginx-php8.0`, `nginx-php8.0`

The existing PHP 8.1-based images have been updated with the latest base images:

* `0.9.1`,

[2022-01-27 13:49] Lithimlin commented on #52
Ah, it seems that my current Raspbian is not supported anymore then.
I'm currently in the process of setting everything up so I can raze the Pi and install everything again. I'll let you know if an update helps.

[2022-01-27 13:54] Lithimlin commented on #52
I just double-checked and interestingly enough I'm already on Bullseye.
Just to make sure I updated everything but I still get the wrong date.
So I will wait until I updated the Pi and everything and let you know again whether things are working.

[2022-01-27 20:14] ckulka opened #72 "Since 0.9.1 I'm regularly getting gateway timeouts"
Since the new version 0.9.1, @Lithimlin regularly gets gateway timeouts when querying my calendars or any admin page:

[code]

@mstilkerich found that the timestamps were all wrong and further tests showed that the time inside the containers worked in 0.8.0, but was all over the place in 0.9.1:

[code]

A very similar sounding issue at [Date is wrong in container (linuxserver.io)](https://discours

[2022-01-27 20:16] ckulka commented on #52
@Lithimlin I moved your issue to #72 since it (probably) has a different cause and to avoid flooding OP with updates unrelated to the original request.

[2022-01-27 21:09] mstilkerich commented on #52
Thank you, the new image works for me, so the issue is resolved from my side.

[2022-01-27 21:46] #52 closed

[2022-01-30 10:46] Aggtaa opened #73 "nginx container does not start if Docker IPv6 disabled"
NginX should not listen on IPv6 address by default as IPv6 can be disabled in docker settings globally or per container.

[code]

Container does not start and there is no way to configure it as NginX is not set to react to any environment variable and NginX config is not exposed to host for edits.

[2022-01-30 17:40] ckulka commented on #73
Hi @Aggtaa, thanks - I'll see if there's a way to have both given some need IPv6 and some don't.

Can you run the following commands inside the container and share the output?

[code]

If possible, can you also share the output of the same commands but with IPv6 enabled?

[2022-02-18 19:10] LairdTurner opened #77 "ErrorException: PDO::quote(): Passing null to parameter #1 when a calendar entry is edited"
Hi!

I've just installed ckulka / baikal-docker.
If I create a new calendar and save it, everything works fine and I can connect to it and make entries,
but when I edit the calendar for example to edit the description.
This page is shown in the browser:

ErrorException: PDO::quote(): Passing null to parameter #1 ($string) of type string is deprecated in /var/www/baikal/Core/Frameworks/Flake/Core/D

[2022-02-18 21:13] LairdTurner commented on #77
I've installed the new image. It looks like it now works as expected! Thank you!
I'm looking foward to the new version of baikal!

[2022-02-19 23:12] #77 closed

[2022-03-05 19:26] nillebor commented on #69
hello kulka

I want to give a brief info - Baikal Docker on the Diskstation works fine. thanks for that.

i only have one x86/i386 diskstation, so I can't say anything about a modern x64 diskstation.

I tested the following versions:

- baikal 0.9.1 Apache - don't work: `(38)Function not implemented: AH00141: Could not initialize random number generator`
- baikal 0.9.1 Apache-php_8.0 - don't work;

[2022-03-06 14:42] ckulka commented on #69
Thanks for the update! Glad Nginx is working out.

I have written a tutorial in the Synology Forum where I have already written your work!

I was looking around more, looks like quite a lot of people have the AH00141 error with Synology, e.g. https://github.com/bitnami/bitnami-docker-apache/issues/106 and https://github.com/nextcloud/docker/issues/1574. From what I'm reading, it's due to the kerne

[2022-03-06 16:00] nillebor commented on #69
thank you for your great work.

The errors with Apache and Synology should not be a problem, because nginx works. The only funny thing is that the original DSM software is exactly the other way around. nginx does not work there and apache is absolutely necessary!

I can live with it well. Also php_8.1 works without problems - I love it - I'm really happy with it!

But I would like to find it if yo

[2022-03-06 18:59] ckulka commented on #69
Ah, I see what you mean and the good news is that it's already set up that way: the `nignx` image tag (and all others without version numbers for that matter) always contain the latest version of Baikal. In other words, using the `nginx` image and pulling it regularly will make sure you're always running the latest version of Baikal.

I didn't prefix it with `latest-` following the practice of oth

[2022-03-06 19:11] nillebor commented on #69
nginx & 0.9.1-nginx works.here fin - no problem, all good :+1: )

the tag nginx to always get the latest version is completely sufficient, name adjustment is still not necessary. everything can remain as it is. my problems are completely solved the contribution can be closed.

please keep up the good work :+1:

[2022-03-06 20:06] ckulka commented on #69
Thank you, appreciate the feedback, it's always nice to hear :)

[2022-03-06 20:06] #69 closed

[2022-03-13 18:27] Lithimlin opened #78 "DB permissions"
I'm currently recreating my baikal setup because I did a fresh setup of my home server. Before taking the old one down, I made a backup of the calendar data and config. I've now copied the data into the new volumes/directories but the webpage tells me the following:

From my perspective, I can't find anything wrong with the permissions in- or outside of the container:
[code]

Any ideas what could

[2022-03-13 20:40] mattmurr commented on #78
I've just run into this too, I believe everything should be owned by the user within the container.
See this link: https://github.com/ckulka/baikal-docker/blob/master/examples/docker-compose.localvolumes.yaml

[2022-03-14 08:59] Lithimlin commented on #78
Ah, I'd tried that before. Then the webpage told me the config.yaml could not be accessed.
However, that was because I had not correctly set the permissions for the `config` directory, only for the `Specific`

[2022-03-14 08:59] #78 closed

[2022-03-14 09:01] Lithimlin commented on #72
With a fresh Raspbian OS (64 bit, bullseye) it is now working. So it really seems to have been connected to my upgrade from buster to bullseye not having worked 100% correctly without me realizing it before the update

[2022-03-14 19:05] ckulka commented on #72
Happy to hear that, glad it worked out

[2022-03-25 08:43] Lithimlin opened #79 "PreconditionFailed"
Since about two days or so, I'm getting the following error which causes syncing my calendars with Thunderbird to fail:
[code]
I'm neither sure what this means nor why it's happening. Prehaps something changed internally with Thunderbird or Baikal? I'm not sure which of the two it is.
Syncing my calendar with my phone via DAVx5 seems to work fine though.

Thunderbird itself gives me the following

[2022-03-25 19:24] ckulka commented on #79
Hi @Lithimlin, did you modify the event both on your phone and later in Thunderbird?

There weren't any changes in Baikal (January 2022) or Thunderbird (August 2021) as far as I can tell, so I'm suspicious if it's the same or similar issue as https://github.com/nextcloud/server/issues/14428. The suggested resolution is a "hard refresh" in Thunderbird (well, Evolution in their case, but doesn't mat

[2022-03-29 12:48] Lithimlin commented on #79
It turned out to be a completely different problem with my setup and my IP. But thanks anyway for the help! That would have been my next course of action.

[2022-03-29 12:48] #79 closed

[2022-04-06 14:10] nillebor opened #83 "bump to 0.9.2 only experimaental"
no update for:
- latest
- apache
- apache+php8.0
- nginx
- nginx-php8.0

Update only for [all](https://hub.docker.com/r/ckulka/baikal/tags) experimental-Images
is it´s right?

[2022-04-06 21:31] ckulka commented on #83
Yes, life interfered - I'm creating the release now and it should be there within the next hour or two.

[2022-04-06 21:36] ckulka commented on #83
Building now, should be done in about 12 minutes: https://github.com/ckulka/baikal-docker/actions/runs/2105225521

[2022-04-07 08:57] nillebor commented on #83
thank you works well :)

[2022-04-07 09:41] #83 closed

[2022-04-08 10:26] 0rn0lf opened #86 "UnRAID Install - db folder missing"
The following error appears during the setup assistant

[code]

Pretty similar to #62 but it seems, that the error occurs because the db folder is missing.
I executed the following command in the container to create the folder and was able to finish the setup assistant:

` mkdir /var/www/baikal/Specific/db`

The folder is now owned by root. Does it have to be changed to nginx?

[code]

Database is

[2022-04-15 18:14] dbobak opened #87 "How to fix "Request entity too large" error"
When trying to add to calendar task with a large attachment, I'm getting error "Request entity too large". Running baikal:nginx image.
How to fix it?

[2022-04-20 23:21] ckulka commented on #87
Hi @dbobak, you will need to update the `/etc/nginx/conf.d/default.conf` file inside the container and add [`client_max_body_size`](http://nginx.org/en/docs/http/ngx_http_core_module.html#client_max_body_size) with a value larger than the biggest HTTP request you expect to upload:

[code]

The probably easiest way is to use the [`files/nginx.conf` file from this repository](https://github.com/ckul

[2022-04-23 07:14] Joshndroid commented on #86
I stumbled back here and see this issue.
Is it possible the container needs to have a user specified as in a UID/GID?

[2022-05-01 11:13] Ghost108 opened #88 "macos cant sync calendar"
Hi all!

I installed the web version of baikal.
I created a .htaccess File in the root folder
<img width="333" alt="Bildschirmfoto 2022-05-01 um 13 10 07" src="https://user-images.githubusercontent.com/17011498/166143404-199b0d48-371a-40d6-b9c2-71414dc2d4b9.png">

with this rules:
[code]

only ather this "modification" macOS is able to found and sync the calendar.

Now I would like to use your doc

[2022-05-08 14:00] mfabache opened #89 "Reinstall after previous install catch-22 : Mysql, Docker,/admin/install"
Not a bug, as I had this working before hand, but something wonky I am likely doing...

**Baikal version**: 0.x
Latest as of 08-May-22
docker image (via compose yml)

**Expected behaviour**:
To preform a fresh install and restart from scratch

**Current behaviour**:
I cannot reinstall the setup and get a

Seems simple to fix, right?  I'm sure I have something wrong, but:
I've DESTROYED the databas

[2022-05-08 18:07] ckulka commented on #89
Hi Michael,

can you share your `docker-compose.yaml`file (with redacted passwords)?

I don't know if you also use volumes, but I want to make sure that by "destroying" you also mean that you either deleted the volumes too or (if they are local folder mounts) removed the files inside them.

[2022-05-08 21:16] mfabache commented on #89
Thanks Cyrill for looking into this.

Here is what I have for the yml

  baikal:
    image: ckulka/baikal:nginx
    restart: always
    container_name: baikal.DockerX
    networks:
    - dockerX_network
    links:
    - mariadb
    ports:
      - "8090:80"
    environment:
    - MYSQL_ROOT_PASSWORD=<redacted>
    - MYSQL_DATABASE=<redacted>
    - MYSQL_USER=<redacted>
    - MYSQL_HOST=<redacted>
#

[2022-05-31 17:19] MichiFr opened #90 "Exception when editing a user's calendar"
Using baikal 0.9.2 and when executing the calender button to edit a user's calender I often see the error message below, in Firefox.
Using menu "Users and resources" -> Button Calendars -> select one of the user's calendars.

`ErrorException: htmlspecialchars(): Passing null to parameter #1 ($string) of type string is deprecated in /var/www/baikal/Core/Frameworks/Formal/Element/Text.php:69
Stack t

[2022-05-31 17:21] MichiFr commented on #90
Additional information: guess I know the source of the issue. Each calendar that does not have a description, causes this issue.

Will it be save to add one using e.g. phpMyAdmin? I'm running baikal with MariaDB/MySQL, btw.

[2022-05-31 18:24] raenrfm opened #91 "Email invites are not sent"
I've installed Baikal on my vps running docker, I have a mail server set up in a different container on port 25 it works, I have the port allowed from the vps provider but baikal never sends out invites for events from Thunderbird.  There doesn't seem to be a lot of info on how this should be set up.  Can someone help me with this?

[2022-05-31 23:58] ckulka commented on #90
Hi @MichiFr, can you try the PHP 8.0 image variants, e.g. `ckulka/baikal:0.9.2-php8.0`?

I think it's because of a deprecation that happened in PHP 8.1 which ([despite semver conventions](https://semver.org/)) broke Baikal in a couple of places. The maintainers of Baikal addressed most of those issues when they made it PHP 8.1-ready in [release 0.9.0](https://github.com/sabre-io/Baikal/releases/ta

[2022-06-06 20:41] throwaway876 commented on #91
It has sendmail installed but after taking a brief look at the dockerfiles and such I don't see where it is configured using env vars or anything.

I'm thinking it simply isn't implemented yet. Note- this is something that this project will have to do separate sadly as the upstream is only concerned about the software itself and doesn't support docker outright. They basically leave email configura

[2022-06-30 13:28] idrahendil commented on #62
Hi, similar to the post opener, i got the following error directly after installing the docker container in unraid and after opening  the WebUI the first time:

The two folder config and Specific were created in the appdata folder of Unraid and both have the permissions drwxr-xr-x

This worked without an issue as well, all the testfiles and folders were created.  I have also completly reinstalled

[2022-07-04 12:35] patg84 opened #92 "docker-compose.ssl.yaml - Not Working"
Hello. Can someone please check this? I keep getting a 404 when trying to run this container. I have tried to fix it but I'm drawing a blank.

Due to change in OneCalendar for Android and iOS, I need to be able to provide an HTTPS link for those clients to keep Baikal running in a production environment. Baikal offers two different authentication methods for connecting to the service. Basic and Di

[2022-07-06 23:10] Jezz3 opened #93 "Error when changing Password"
When i try to change the Password of a user account i doesnt work and i get an Error.
For another user account it is working.
Im running Baikal 0.9.1

```ErrorException: PDO::quote(): Passing null to parameter #1 ($string) of type string is deprecated in /var/www/baikal/Core/Frameworks/Flake/Core/Database.php:204```

Stack trace

[code]

[2022-07-06 23:29] Jezz3 commented on #93
maybe related to #90 ?

[2022-07-08 16:47] ckulka commented on #93
Hi @Jezz3, yes, looks like it's exactly the same cause - can you please open an issue with [sabre-io/Baikal](https://github.com/sabre-io/Baikal/issues)?

[2022-07-08 19:55] ckulka commented on #90
Closing given this can only be fixed in the Baikal repository.

[2022-07-08 19:55] #90 closed

[2022-08-01 09:23] Jezz3 commented on #93
Ist gefixed in der neusten Version.

[2022-08-01 09:23] #93 closed

[2022-08-03 10:52] stavros-k opened #95 "Allow configuring database via env variables for unattanded provisioning"
Instead of having to go through the setup on the first installation, have envr variables to define the required info, and run the setup on the first startup

Thanks!

[2022-08-10 00:52] panzer-arc commented on #88
Looking around in portainer, that file appears to be in /var/lib/docker/volumes/baikal_config/_data. You could try editing it there.

[2022-08-12 10:43] GenesisAdam opened #96 "Installation using Traefik as reverse proxy"
Is it possible to install this with traefik 2.0 as reverse proxy?
This may impact the use of nginx.
Many thanks.

[2022-08-17 15:34] zsamiatt opened #97 "Plugin install"
Hello,
How can I install plugin to baikal docker?

[https://sabre.io/dav/ics-export-plugin/](url)

[2022-08-18 16:04] visibilityspots commented on #96
Running the baikal container (ckulka/baikal:0.9.2-nginx) on a nomad cluster with traefik 2.8.3 in front with following traefik tags;
[code]
as you can see I've a router for the admin page to get served and a router as for the cardav/caldav with some redirects configured. Works fine to get the UI working as well as the cardav/caldav implementation into various clients.

[2022-08-18 16:42] GenesisAdam commented on #96
@visibilityspots Many thanks. That works fine.

[2022-09-28 04:20] #73 closed

[2022-10-15 18:24] ckulka commented on #97
Hi @zsamiatt , I found instructions for another plugin ([Aerex/baikal-storage-plugin/README.md](https://github.com/Aerex/baikal-storage-plugin/blob/67e34e52b82508efff006f8fbbd0326c33af1794/README.md)) which say that those setup lines should be added to the `/var/www/baikal/Core/Frameworks/Baikal/Core/Server.php` file.

In order to use this in the Dockerfile, you'll need to modify the `Server.php`

[2022-10-15 18:31] #96 closed

[2022-10-15 18:31] ckulka commented on #96
Thank you @GenesisAdam !

[2022-10-16 17:00] ckulka commented on #95
Hi @stavros-k,

I think there might already be a solution to this: the `baikal.yaml` file contains the fields that you set up in the initial wizard when Baikal starts for the first time. An example of this file with the fields available is in their repository: [sabre-io/Baikal: config/baikal.yaml.dist](https://github.com/sabre-io/Baikal/blob/master/config/baikal.yaml.dist).

If you need more field

[2022-10-16 17:06] ckulka commented on #89
Sorry for not following up - I'd imagine you have this solved by now, but if anyone coming across this: I suspect this is because the volumes were not deleted. So when you started a new container, then the old volumes with the old files (config and data) were still used.

To completely start from scratch, you'd also need to remove the volumes:

[code]

[2022-10-16 17:10] ckulka commented on #88
Hi @Ghost108 ,

the Nginx and Apache httpd configuration files should already take care of this - do you have any issues when you used the Docker images?

Example configuration files used in version 0.9.2:

* <https://github.com/ckulka/baikal-docker/blob/0.9.2/files/apache.conf>
* <https://github.com/ckulka/baikal-docker/blob/0.9.2/files/apache.conf>

[2022-10-19 11:36] merspieler opened #101 "Issue: Getting redirected to localhost"
I'm trying to run baikal behind an apache2 reverse proxy which handles TLS.
When I access my public url, I get the page but some links reference localhost so I've gotta edit the url to get there.
My service lives under baikal.<my.domain>, the container is started with -p 8085:80, and the links then point to localhost:8085.
I've tried the normal, apache and nginx 0.9.2 images, all with the same beh

[2022-10-19 15:34] ckulka commented on #101
Hi @merspieler, can you show me the Apache2 httpd configuration file with the reverse proxy directives to the Baikal container?

[2022-10-20 02:58] ckulka commented on #101
Thanks - according to the [ProxyPassReverse Directive](https://httpd.apache.org/docs/2.4/mod/mod_proxy.html#proxypassreverse) docs, you're missing directives to rewrite the HTML content:

* [ProxyHTMLEnable Directive](https://httpd.apache.org/docs/2.4/mod/mod_proxy_html.html#proxyhtmlenable)
* [ProxyHTMLURLMap Directive](https://httpd.apache.org/docs/2.4/mod/mod_proxy_html.html#proxyhtmlurlmap)
*

[2022-10-20 10:40] #101 closed, assigned to ckulka

[2022-11-07 06:51] zsamiatt commented on #97
Hello I find solutions:
Thank you your help.

[https://github.com/eyalcha/baikal-docker](url)

[2022-11-07 22:39] #97 closed

[2022-11-08 12:05] nillebor commented on #88
You mean?:
- https://github.com/ckulka/baikal-docker/blob/0.9.2/files/apache.conf
- https://github.com/ckulka/baikal-docker/blob/0.9.2/files/nginx.conf

[2022-11-09 18:44] nillebor commented on #88
For better understand please see: https://lisanet.de/baikal-kontake-und-kalender-auf-eigenem-webspace/

it particularly affected macOS devices. with IOS, the error is compensated and it works. No error occurs on Android and Windows.

Can you create an Apple version of Baikal Docker?

[2022-11-13 22:05] ckulka commented on #88
Thanks @nillebor for confirming.

Hi @Ghost108, the short answer is: it's not needed, as the root folder isn't accessible or served to browsers.

That redirect is not needed with the Docker image as the root folder is not (and should not) be accessible from the internet, only the contents inside the `html` folder should be.

That redirect and `.htaccess` file in the root folder might be required o

[2022-11-13 22:05] #88 closed

[2022-11-30 14:22] BobWs opened #103 "When try to edit a Calendar via WebAdmin I get this error in the browser!"
Hi,
When I try to edit a Calendar via WebAdmin I get the following error in the browser! I doesn't happen to all the Calendars, with some users calendars it is working and I can Edit it, but some users default calendars can not be edit.

Do you know how to fix this?

![edit button](https://user-images.githubusercontent.com/5485820/204820261-4b47a6ab-28a7-4702-9ef6-af2419574ff1.png)

[code]